/* --- Informações básicas: variáveis. */

:root{
    /* ------ Cores. */

    --cor-primária: #D7CCC8;
    --cor-terceária: #FFFFFB;
    --cor-quaternária: #171717;
    --cor-quaternária-opaca: #17171780;

    /* ------ Tipografia. */

    --tipografia-logo-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tipografia-logo-tamanho: 24px;
    --tipografia-logo-peso: bold;

    --tipografia-endereços-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tipografia-endereços-tamanho: 12px;
    --tipografia-endereços-peso: initial;

    --tipografia-placeholder-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tipografia-placeholder-tamanho: 12px;
    --tipografia-placeholder-peso: initial;

    --tipografia-botão-cabeçalho-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tipografia-botão-cabeçalho-tamanho: 12px;
    --tipografia-botão-cabeçalho-peso: initial;

    --tipografia-título-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tipografia-título-tamanho: 48px;
    --tipografia-título-peso: bold;

    --tipografia-parágrafo-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tipografia-parágrafo-tamanho: 32px;
    --tipografia-parágrafo-peso: initial;

    --tipografia-descrição-título-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tipografia-descrição-título-tamanho: 24px;
    --tipografia-descrição-título-peso: bold;

    --tipografia-descrição-parágrafo-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tipografia-descrição-parágrafo-tamanho: 16px;
    --tipografia-descrição-parágrafo-peso: initial;

    --tipografia-botão-corpo-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tipografia-botão-corpo-tamanho: 16px;
    --tipografia-botão-corpo-peso: bold;

    --tipografia-ícone-tamanho: 20px;
    --tipografia-ícone-peso: initial;
}

/* ------ Resonsividade. */

$responsividade-média: 1260px;
$responsividade-pequena: 800px;

/* ------ @mixins de funcionais. */

@mixin grid-em-linha{
    align-items: center;
    column-gap: 16px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

@mixin grid-em-linhas-e-colunas{
    column-gap: 256px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: center;
    row-gap: 80px;
}

@mixin não-seleção{
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ------ @mixins tipográficos. */

@mixin logo{
    @include não-seleção();
    color: var(--cor-quaternária);
    font-family: var(--tipografia-logo-família);
    font-size: var(--tipografia-logo-tamanho);
    font-weight: var(--tipografia-logo-peso);
}

@mixin links{
    @include não-seleção();
    color: var(--cor-quaternária);
    font-family: var(--tipografia-endereços-família);
    font-size: var(--tipografia-endereços-tamanho);
    font-weight: var(--tipografia-endereços-peso);
}

@mixin ícone{
    @include não-seleção();
    color: var(--cor-quaternária);
    cursor: pointer;
    font-size: var(--tipografia-ícone-tamanho);
    font-weight: var(--tipografia-ícone-peso);
}

@mixin título{
    @include não-seleção();
    color: var(--cor-quaternária);
    font-family: var(--tipografia-título-família);
    font-size: var(--tipografia-título-tamanho);
    font-weight: var(--tipografia-título-peso);
}

@mixin parágrafo{
    @include não-seleção();
    color: var(--cor-quaternária);
    font-family: var(--tipografia-parágrafo-família);
    font-size: var(--tipografia-parágrafo-tamanho);
    font-weight: var(--tipografia-parágrafo-peso);
}

@mixin descrição-título{
    color: var(--cor-quaternária);
    font-family: var(--tipografia-descrição-título-família);
    font-size: var(--tipografia-descrição-título-tamanho);
    font-weight: var(--tipografia-descrição-título-peso);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin descrição-parágrafo{
    color: var(--cor-quaternária-opaca);
    font-family: var(--tipografia-descrição-parágrafo-família);
    font-size: var(--tipografia-descrição-parágrafo-tamanho);
    font-weight: var(--tipografia-descrição-parágrafo-peso);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ------ @mixins do cabeçalho. */

@mixin input-de-pesquisa{
    @include não-seleção();
    background: var(--cor-terceária);
    border: none;
    color: var(--cor-quaternária-opaca);
    font-family: var(--tipografia-placeholder-família);
    font-size: var(--tipografia-placeholder-tamanho);
    font-style: italic;
    font-weight: var(--tipografia-placeholder-peso);
    height: 48px;
    outline: none;
    padding: 0px 16px;
    width: 216px;
}

@mixin ícone-input-de-pesquisa{
    @include ícone();
    color: var(--cor-quaternária-opaca);
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin botão-do-cabeçalho{
    @include grid-em-linha();
    @include não-seleção();
    background: none;
    border: solid 1px var(--cor-quaternária);
    color: var(--cor-quaternária);
    column-gap: 0px;
    cursor: pointer;
    font-family: var(--tipografia-botão-cabeçalho-família);
    font-size: var(--tipografia-botão-cabeçalho-tamanho);
    font-weight: var(--tipografia-botão-cabeçalho-peso);
    height: 48px;
    padding: 0px 16px;
    width: 160px;
}

/* ------ @mixins do corpo. */

@mixin ruído{
    background-image: url("../Material-Gráfico/Gifs-de-Fundo/Ruído.gif");
    left: 0px;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

@mixin botão-geral{
    @include ícone();
    background-color: var(--cor-terceária);
    border-radius: 50%;
    padding: 8px;
}

@mixin botão-do-corpo{
    @include grid-em-linha();
    @include não-seleção();
    background: var(--cor-quaternária);
    border: none;
    border-radius: 8px;
    color: var(--cor-terceária);
    column-gap: 0px;
    cursor: pointer;
    font-family: var(--tipografia-botão-corpo-família);
    font-size: var(--tipografia-botão-corpo-tamanho);
    font-weight: var(--tipografia-botão-corpo-peso);
    height: 48px;
    padding: 0px 16px;
}

@mixin decoração-animada{
    height: 320px;
    object-fit: none;
    width: 100%;
}

/* ------ @mixins do rodapé. */

@mixin papel{
    background-image: url("../Material-Gráfico/Gifs-de-Fundo/Papel.gif");
    left: 0px;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

@mixin input-de-email{
    @include não-seleção();
    background: none;
    border: solid 1px var(--cor-quaternária);
    border-radius: 8px;
    color: var(--cor-quaternária-opaca);
    font-family: var(--tipografia-placeholder-família);
    font-size: var(--tipografia-placeholder-tamanho);
    font-weight: var(--tipografia-placeholder-peso);
    height: 48px;
    outline: none;
    padding: 0px 16px;
    width: 216px;
}

@mixin ícone-input-de-email{
    @include ícone();
    color: var(--cor-quaternária-opaca);
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}