/* --- Informações básicas: variáveis. */

/* ------ Cores. */

$cor-primária: #D7CCC8;
$cor-secundária: #A69B97;
$cor-terceária: #FFFFFB;
$cor-quaternária: #171717;
$cor-quaternária-opaca: rgba(23, 23, 23, 0.5);

/* ------ Tipografia. */

$tipografia-logo-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-logo-tamanho: 24px;
$tipografia-logo-peso: bold;

$tipografia-endereços-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-endereços-tamanho: 12px;
$tipografia-endereços-peso: initial;


$tipografia-placeholder-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-placeholder-tamanho: 12px;
$tipografia-placeholder-peso: initial;

$tipografia-botão-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-botão-tamanho-grosso: 16px;
$tipografia-botão-tamanho: 12px;
$tipografia-botão-peso: initial;
$tipografia-botão-peso-grosso: bold;

$tipografia-ícone-tamanho: 20px;
$tipografia-ícone-peso: initial;

$tipografia-título-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-título-tamanho: 48px;
$tipografia-título-peso: bold;

$tipografia-parágrafo-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-parágrafo-tamanho: 32px;
$tipografia-parágrafo-peso: initial;

/* ------ Resonsividade. */

$responsividade-média: 1160px;

/* ------ @mixins. */

@mixin flex-em-linha{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@mixin grid-em-linha{
    align-items: center;
    display: grid;
    gap: 16px;
    grid-auto-flow: column;
    justify-content: space-between;
}

@mixin grid-em-colunas(){
    display: grid;
    gap: 32px;
    width: 640px;
}

@mixin logo-aparência{
    color: $cor-quaternária;
    font-family: $tipografia-logo-família;
    font-size: $tipografia-logo-tamanho;
    font-weight: $tipografia-logo-peso;
}

@mixin links-aparência{
    color: $cor-quaternária;
    font-family: $tipografia-endereços-família;
    font-size: $tipografia-endereços-tamanho;
    font-weight: $tipografia-endereços-peso;
}

@mixin ícone-aparência{
    color: $cor-quaternária;
    font-size: $tipografia-ícone-tamanho;
    font-weight: $tipografia-ícone-peso;
}

@mixin título{
    color: $cor-quaternária;
    font-family: $tipografia-título-família;
    font-size: $tipografia-título-tamanho;
    font-weight: $tipografia-título-peso;
}

@mixin parágrafo{
    color: $cor-quaternária;
    font-family: $tipografia-parágrafo-família;
    font-size: $tipografia-parágrafo-tamanho;
    font-weight: $tipografia-parágrafo-peso;
}

@mixin input-de-texto{
    background: $cor-terceária;
    border: none;
    color: $cor-quaternária-opaca;
    font-family: $tipografia-placeholder-família;
    font-size: $tipografia-placeholder-tamanho;
    font-style: italic;
    font-weight: $tipografia-placeholder-peso;
    height: 48px;
    outline: none;
    padding: 16px 64px 16px 16px;
}

@mixin botão-preenchido{
    background-color: $cor-quaternária;
    border: none;
    border-radius: 8px;
    color: $cor-terceária;
    font-family: $tipografia-botão-família;
    font-size: $tipografia-botão-tamanho-grosso;
    font-weight: $tipografia-botão-peso-grosso;
    padding: 16px 40px 16px 16px;
    position: relative;
    width: 240px;
}

@mixin botão-não-preenchido{
    background: none;
    border: $cor-quaternária solid 1px;
    color: $cor-quaternária;
    font-family: $tipografia-botão-família;
    font-size: $tipografia-botão-tamanho;
    font-weight: $tipografia-botão-peso;
    height: 48px;
    padding: 16px 40px 16px 16px;
    position: relative;
}

@mixin ícone-botão-pesquisa{
    @include ícone-aparência();
    color: $cor-quaternária-opaca;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin ícone-botão{
    @include ícone-aparência();
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin ícone-botão-geral{
    @include ícone-aparência();
    background-color: $cor-terceária;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
}

/* --- Código básico. */

body{
    background-color: $cor-primária;
    display: grid;
    grid-template-areas: "cabeçalho" "botões-gerais" "entrada-inicial";
}

/* --- Cabeçalho. */

header{
    @include grid-em-linha();
    border-bottom: solid 1px $cor-quaternária;
    grid-area: cabeçalho;
    height: 82px;
    padding: 16px 32px;

    #header-logo{
        h1{@include logo-aparência();}
    }

    #header-endereços-pesquisa-perfil{
        @include grid-em-linha();

        #header-endereços-organização-padrão{ 
            @include grid-em-linha();
            a{@include links-aparência();}
        }

        #header-endereços-organização-responsiva{
            display: none;
        }

        #header-área-de-busca{
            position: relative;
            input[type="text"]{@include input-de-texto();}
            span{@include ícone-botão-pesquisa();}
        }

        button{
            @include botão-não-preenchido();
            span{@include ícone-botão();}
        }
    }
}

@media only screen and (max-width: $responsividade-média){
    header{

        #header-endereços-pesquisa-perfil{
            @include grid-em-linha();

            #header-endereços-organização-padrão{ 
                display: none;
            }

            #header-endereços-organização-responsiva{
                @include grid-em-linha();
                span{@include ícone-aparência();}
            }

            #header-área-de-busca{
                display: none;
            }

            button{
                display: none;
            }
        }
    }
}

/* --- Corpo. */

#main-botões-gerais{
    @include flex-em-linha();
    grid-area: botões-gerais;
    justify-content: right;
    padding: 16px 32px;

    span{
        @include ícone-botão-geral();
        margin: 0px 16px 0px 16px;
    }

    span:first-child{
        margin: 0px;
    }

    #main-botões-interruptor{
        background-color: $cor-terceária;
        border-radius: 100px;
        padding: 8px;

        span{
            margin-left: 40px;
        }
        span:first-child{
            margin-left: 0px;
            background-color: $cor-primária;
        }
    }
}

/* --- Entrada inicial. */

#main-entrada-inicial-padrão{
    @include flex-em-linha();
    grid-area: entrada-inicial;
    padding: 80px 0px 80px 80px;

    #main-entrada-inicial-informações{
        @include grid-em-colunas();
        
    
        h2{
            @include título();
        }
    
        p{
            @include parágrafo();
        }
    
        button{
            @include botão-preenchido();
        }
    }
    #main-entrada-inicial-gif{
        img{
            height: 320px;
        }
    }
}

/* --- Responsividade da entrada-inicial. */

@media only screen and (max-width: $responsividade-média){
    #main-entrada-inicial-padrão{
        flex-direction: column;
        text-align: center;

        #main-entrada-inicial-informações{
            justify-items: center;
            margin-bottom: 80px;
        }
    }
}