@charset "UTF-8";
/* --- Informações básicas: variáveis. */
/* ------ Cores. */
/* ------ Tipografia. */
/* ------ Resonsividade. */
/* ------ @mixins de organização. */
/* ------ @mixins tipográficos. */
/* ------ @mixins do cabeçalho. */
/* ------ @mixins do corpo. */
/* ------ @mixins do rodapé. */
/* --- Código básico. */
body {
  background-color: #D7CCC8;
}

/* --- Cabeçalho. */
header {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  border-bottom: solid 1px #171717;
  height: 96px;
  padding: 16px 32px;
}
header #header-logo h1 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
header #header-endereços-pesquisa-perfil {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
header #header-endereços-pesquisa-perfil #header-endereços-organização-padrão {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
header #header-endereços-pesquisa-perfil #header-endereços-organização-padrão a {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: initial;
}
header #header-endereços-pesquisa-perfil #header-endereços-organização-responsiva {
  display: none;
}
header #header-endereços-pesquisa-perfil #header-área-de-busca {
  position: relative;
}
header #header-endereços-pesquisa-perfil #header-área-de-busca input[type=text] {
  background: #FFFFFB;
  border: none;
  color: rgba(23, 23, 23, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: initial;
  height: 48px;
  outline: none;
  padding: 0px 16px;
  width: 216px;
}
header #header-endereços-pesquisa-perfil #header-área-de-busca span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  color: rgba(23, 23, 23, 0.5);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}
header #header-endereços-pesquisa-perfil button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: none;
  border: solid 1px #171717;
  color: #171717;
  -moz-column-gap: 0px;
       column-gap: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: initial;
  height: 48px;
  padding: 0px 16px;
  width: 160px;
}
header #header-endereços-pesquisa-perfil button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
}

@media only screen and (max-width: 1260px) {
  header #header-endereços-pesquisa-perfil {
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
  header #header-endereços-pesquisa-perfil #header-endereços-organização-padrão {
    display: none;
  }
  header #header-endereços-pesquisa-perfil #header-endereços-organização-responsiva {
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
  header #header-endereços-pesquisa-perfil #header-endereços-organização-responsiva span {
    color: #171717;
    cursor: pointer;
    font-size: 20px;
    font-weight: initial;
  }
  header #header-endereços-pesquisa-perfil #header-área-de-busca {
    display: none;
  }
  header #header-endereços-pesquisa-perfil button {
    display: none;
  }
}
/* --- Botões gerais. */
#main-botões-gerais {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-content: end;
  padding: 16px 32px;
  position: relative;
}
#main-botões-gerais span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  background-color: #FFFFFB;
  border-radius: 50%;
  padding: 8px;
}
#main-botões-gerais #main-botões-interruptor {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background-color: #FFFFFB;
  border-radius: 100px;
  padding: 8px;
}
#main-botões-gerais #main-botões-interruptor span:first-child {
  background-color: #D7CCC8;
}

/* --- Ruído entrada inicial. */
#ruído-entrada-inicial {
  background-image: url("../Material-Gráfico/Ruído/Ruído.gif");
  height: 580px;
  left: 0px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

/* --- Responsividade do ruído. */
@media only screen and (max-width: 1260px) {
  #ruído-entrada-inicial {
    height: 903px;
  }
}
/* --- Entrada inicial. */
#main-entrada-inicial {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  border-bottom: solid 1px #171717;
  padding: 80px;
  text-align: start;
}
#main-entrada-inicial #main-entrada-inicial-informações {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 32px;
  grid-auto-flow: row;
  justify-items: start;
  order: 1;
  width: 640px;
}
#main-entrada-inicial #main-entrada-inicial-informações h2 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: bold;
}
#main-entrada-inicial #main-entrada-inicial-informações p {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: initial;
}
#main-entrada-inicial #main-entrada-inicial-informações button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: #171717;
  border: none;
  border-radius: 8px;
  color: #FFFFFB;
  -moz-column-gap: 0px;
       column-gap: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  padding: 0px 16px;
}
#main-entrada-inicial #main-entrada-inicial-informações button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  margin-left: 16px;
  color: #FFFFFB;
}
#main-entrada-inicial #main-entrada-inicial-gif {
  order: 2;
}
#main-entrada-inicial #main-entrada-inicial-gif img {
  height: 320px;
}

/* --- Responsividade da entrada-inicial. */
@media only screen and (max-width: 1260px) {
  #main-entrada-inicial {
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
  }
  #main-entrada-inicial #main-entrada-inicial-informações button {
    justify-self: center;
  }
}
/* --- Decoração-animada. */
.main-decoração-animada {
  height: 320px;
}
.main-decoração-animada img {
  height: 320px;
  -o-object-fit: none;
     object-fit: none;
  width: 100%;
  border-bottom: solid 1px #171717;
}

/* --- NewsLetter. */
#main-newsletter {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  border-bottom: solid 1px #171717;
  padding: 80px;
  position: relative;
  text-align: end;
}
#main-newsletter #main-newsletter-informações {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 32px;
  grid-auto-flow: row;
  justify-items: end;
  order: 2;
  width: 640px;
}
#main-newsletter #main-newsletter-informações h2 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: bold;
}
#main-newsletter #main-newsletter-informações p {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: initial;
}
#main-newsletter #main-newsletter-informações button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: #171717;
  border: none;
  border-radius: 8px;
  color: #FFFFFB;
  -moz-column-gap: 0px;
       column-gap: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  padding: 0px 16px;
}
#main-newsletter #main-newsletter-informações button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  margin-left: 16px;
  color: #FFFFFB;
}
#main-newsletter #main-newsletter-gif {
  order: 1;
}
#main-newsletter #main-newsletter-gif img {
  height: 320px;
}

/* --- Responsividade da newsletter. */
@media only screen and (max-width: 1260px) {
  #main-newsletter {
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
  }
  #main-newsletter #main-newsletter-informações button {
    justify-self: center;
  }
}
/* --- Ruído newsletter. */
#ruído-newsletter {
  background-image: url("../Material-Gráfico/Ruído/Ruído.gif");
  height: 580px;
  left: 0px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  height: 529px;
}

/* --- Responsividade do ruído. */
@media only screen and (max-width: 1260px) {
  #ruído-newsletter {
    height: 852px;
  }
}
/* --- Carrossel de livros. */
#main-carrossel-de-livros {
  border-bottom: solid 1px #171717;
  padding: 80px 80px 0px 80px;
}
#main-carrossel-de-livros h2 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: center;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros {
  -moz-column-gap: 256px;
       column-gap: 256px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  justify-content: center;
  row-gap: 80px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-auto-flow: row;
  justify-items: center;
  row-gap: 16px;
  text-align: center;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 160px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro h3 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro p {
  color: rgba(23, 23, 23, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: #171717;
  border: none;
  border-radius: 8px;
  color: #FFFFFB;
  -moz-column-gap: 0px;
       column-gap: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  padding: 0px 16px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  margin-left: 16px;
  color: #FFFFFB;
}
#main-carrossel-de-livros .main-carrossel-botões {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-content: center;
  padding: 80px;
}
#main-carrossel-de-livros .main-carrossel-botões span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  background-color: #171717;
  border-radius: 50%;
  color: #FFFFFB;
  padding: 8px;
}
#main-carrossel-de-livros .main-carrossel-botões button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: #171717;
  border: none;
  border-radius: 8px;
  color: #FFFFFB;
  -moz-column-gap: 0px;
       column-gap: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  padding: 0px 16px;
}
#main-carrossel-de-livros .main-carrossel-botões button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  margin-left: 16px;
  color: #FFFFFB;
}

/* --- Promoção. */
#main-promoção {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  border-bottom: solid 1px #171717;
  padding: 80px;
  position: relative;
  text-align: start;
}
#main-promoção #main-promoção-informações {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 32px;
  grid-auto-flow: row;
  justify-items: start;
  order: 1;
  width: 640px;
}
#main-promoção #main-promoção-informações h2 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: bold;
}
#main-promoção #main-promoção-informações p {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: initial;
}
#main-promoção #main-promoção-informações button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: #171717;
  border: none;
  border-radius: 8px;
  color: #FFFFFB;
  -moz-column-gap: 0px;
       column-gap: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  padding: 0px 16px;
}
#main-promoção #main-promoção-informações button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  margin-left: 16px;
  color: #FFFFFB;
}
#main-promoção #main-promoção-gif {
  order: 2;
}
#main-promoção #main-promoção-gif img {
  height: 320px;
}

/* --- Responsividade da promoção. */
@media only screen and (max-width: 1260px) {
  #main-promoção {
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
  }
  #main-promoção #main-promoção-informações button {
    justify-self: center;
  }
}
/* --- Ruído promoção. */
#ruído-promoção {
  background-image: url("../Material-Gráfico/Ruído/Ruído.gif");
  height: 580px;
  left: 0px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  height: 561px;
}

/* --- Responsividade do ruído. */
@media only screen and (max-width: 1260px) {
  #ruído-promoção {
    height: 884px;
  }
}
/* --- Carrossel de artigos. */
#main-carrossel-de-artigos {
  border-bottom: solid 1px #171717;
  padding: 80px 80px 0px 80px;
}
#main-carrossel-de-artigos h2 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: center;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos {
  -moz-column-gap: 256px;
       column-gap: 256px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  justify-content: center;
  row-gap: 80px;
  -moz-column-gap: 144px;
       column-gap: 144px;
  grid-template-columns: repeat(auto-fill, 480px);
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-auto-flow: row;
  justify-items: center;
  row-gap: 16px;
  text-align: center;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo img {
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 480px;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo h3 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 480px;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo p {
  color: rgba(23, 23, 23, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 480px;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: #171717;
  border: none;
  border-radius: 8px;
  color: #FFFFFB;
  -moz-column-gap: 0px;
       column-gap: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  padding: 0px 16px;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  margin-left: 16px;
  color: #FFFFFB;
}
#main-carrossel-de-artigos .main-carrossel-botões {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-content: center;
  padding: 80px;
}
#main-carrossel-de-artigos .main-carrossel-botões span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  background-color: #171717;
  border-radius: 50%;
  color: #FFFFFB;
  padding: 8px;
}
#main-carrossel-de-artigos .main-carrossel-botões button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: #171717;
  border: none;
  border-radius: 8px;
  color: #FFFFFB;
  -moz-column-gap: 0px;
       column-gap: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  padding: 0px 16px;
}
#main-carrossel-de-artigos .main-carrossel-botões button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  margin-left: 16px;
  color: #FFFFFB;
}

/* --- Rodapé. */
footer #footer-inscrição-da-newsletter {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 80px;
}
footer #footer-inscrição-da-newsletter h2 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: bold;
}
footer #footer-inscrição-da-newsletter #footer-email-botão {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
footer #footer-inscrição-da-newsletter #footer-email-botão #footer-área-do-email {
  position: relative;
}
footer #footer-inscrição-da-newsletter #footer-email-botão #footer-área-do-email input[type=text] {
  background: none;
  border: solid 1px #171717;
  border-radius: 8px;
  color: rgba(23, 23, 23, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: initial;
  height: 48px;
  outline: none;
  padding: 0px 16px;
  width: 216px;
}
footer #footer-inscrição-da-newsletter #footer-email-botão #footer-área-do-email span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  color: rgba(23, 23, 23, 0.5);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}
footer #footer-inscrição-da-newsletter #footer-email-botão button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: #171717;
  border: none;
  border-radius: 8px;
  color: #FFFFFB;
  -moz-column-gap: 0px;
       column-gap: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  padding: 0px 16px;
}
footer #footer-inscrição-da-newsletter #footer-email-botão button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  margin-left: 16px;
  color: #FFFFFB;
}
footer #footer-serviços-contatos {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
footer #footer-serviços-contatos #footer-serviços {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
footer #footer-serviços-contatos #footer-serviços a {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: initial;
}
footer #footer-serviços-contatos img {
  height: 320px;
}/*# sourceMappingURL=style.css.map */