/* --- Informações básicas: variáveis. */

/* ------ Cores. */

$cor-primária: #D7CCC8;
$cor-secundária: #A69B97;
$cor-terceária: #FFFFFB;
$cor-quaternária: #171717;
$cor-quaternária-opaca: rgba(23, 23, 23, 0.5);

/* ------ Tipografia. */

$tipografia-logo-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-logo-tamanho: 24px;
$tipografia-logo-peso: bold;

$tipografia-endereços-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-endereços-tamanho: 12px;
$tipografia-endereços-peso: initial;


$tipografia-placeholder-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-placeholder-tamanho: 12px;
$tipografia-placeholder-peso: initial;

$tipografia-botão-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-botão-tamanho-grosso: 16px;
$tipografia-botão-tamanho: 12px;
$tipografia-botão-peso: initial;
$tipografia-botão-peso-grosso: bold;

$tipografia-ícone-tamanho: 20px;
$tipografia-ícone-peso: initial;

$tipografia-título-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-título-tamanho: 48px;
$tipografia-título-peso: bold;

$tipografia-parágrafo-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-parágrafo-tamanho: 32px;
$tipografia-parágrafo-peso: initial;

/* ------ Resonsividade. */

$responsividade-média: 1260px;

/* ------ @mixins. */

@mixin flex-individual{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin grid-em-linha{
    align-items: center;
    display: grid;
    gap: 16px;
    grid-auto-flow: column;
    justify-content: space-between;
}

@mixin logo{
    color: $cor-quaternária;
    font-family: $tipografia-logo-família;
    font-size: $tipografia-logo-tamanho;
    font-weight: $tipografia-logo-peso;
}

@mixin links{
    color: $cor-quaternária;
    font-family: $tipografia-endereços-família;
    font-size: $tipografia-endereços-tamanho;
    font-weight: $tipografia-endereços-peso;
}

@mixin ícone{
    color: $cor-quaternária;
    font-size: $tipografia-ícone-tamanho;
    font-weight: $tipografia-ícone-peso;
}

@mixin ícone-botão-pesquisa{
    @include ícone();
    color: $cor-quaternária-opaca;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin ícone-botão{
    @include ícone();
    cursor: pointer;
}

@mixin ícone-botão-geral{
    @include ícone();
    background-color: $cor-terceária;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
}

@mixin título{
    color: $cor-quaternária;
    font-family: $tipografia-título-família;
    font-size: $tipografia-título-tamanho;
    font-weight: $tipografia-título-peso;
}

@mixin parágrafo{
    color: $cor-quaternária;
    font-family: $tipografia-parágrafo-família;
    font-size: $tipografia-parágrafo-tamanho;
    font-weight: $tipografia-parágrafo-peso;
}

@mixin input-de-texto{
    background: $cor-terceária;
    border: none;
    color: $cor-quaternária-opaca;
    font-family: $tipografia-placeholder-família;
    font-size: $tipografia-placeholder-tamanho;
    font-style: italic;
    font-weight: $tipografia-placeholder-peso;
    height: 48px;
    outline: none;
    padding: 16px 64px 16px 16px;
    width: 240px;
}

@mixin botão-preenchido{
    @include flex-individual();
    background-color: $cor-quaternária;
    border: none;
    border-radius: 8px;
    color: $cor-terceária;
    font-family: $tipografia-botão-família;
    font-size: $tipografia-botão-tamanho-grosso;
    font-weight: $tipografia-botão-peso-grosso;
    height: 48px;
    padding: 0px 16px;
    width: 180px;
}

@mixin botão-não-preenchido{
    @include flex-individual();
    background: none;
    border: $cor-quaternária solid 1px;
    color: $cor-quaternária;
    font-family: $tipografia-botão-família;
    font-size: $tipografia-botão-tamanho;
    font-weight: $tipografia-botão-peso;
    height: 48px;
    padding: 0px 16px;
    width: 160px;
}

@mixin decoração-animada{
    height: 320px;
    object-fit: none;
    width: 100%;
}

/* --- Código básico. */

body{
    background-color: $cor-primária;
    display: grid;
    grid-template-areas: "cabeçalho" "botões-gerais" "entrada-inicial";
}

/* --- Cabeçalho. */

header{
    @include grid-em-linha();
    border-bottom: solid 1px $cor-quaternária;
    grid-area: cabeçalho;
    height: 80px;
    padding: 16px 32px;

    #header-logo{
        h1{@include logo();}
    }

    #header-endereços-pesquisa-perfil{
        @include grid-em-linha();

        #header-endereços-organização-padrão{ 
            @include grid-em-linha();
            a{@include links();}
        }

        #header-endereços-organização-responsiva{
            display: none;
        }

        #header-área-de-busca{
            position: relative;
            input[type="text"]{@include input-de-texto();}
            span{@include ícone-botão-pesquisa();}
        }

        button{
            @include botão-não-preenchido();
            span{@include ícone-botão();}
        }
    }
}

@media only screen and (max-width: $responsividade-média){
    header{

        #header-endereços-pesquisa-perfil{
            @include grid-em-linha();

            #header-endereços-organização-padrão{ 
                display: none;
            }

            #header-endereços-organização-responsiva{
                @include grid-em-linha();
                span{@include ícone();}
            }

            #header-área-de-busca{
                display: none;
            }

            button{
                display: none;
            }
        }
    }
}

/* --- Corpo. */

#main-botões-gerais{
    @include grid-em-linha();
    grid-area: botões-gerais;
    justify-content: end;
    padding: 16px 32px;

    span{
        @include ícone-botão-geral();
    }

    #main-botões-interruptor{
        @include grid-em-linha();
        background-color: $cor-terceária;
        border-radius: 100px;
        padding: 8px;

        span:first-child{
            background-color: $cor-primária;
        }
    }
}

/* --- Entrada inicial. */

#main-entrada-inicial{
    @include grid-em-linha();
    grid-area: entrada-inicial;
    padding: 80px;

    #main-entrada-inicial-informações{
        @include grid-em-linha();
        gap: 32px;
        grid-auto-flow: row;
        width: 640px;
        order: 1;
    
        h2{
            @include título();
        }
    
        p{
            @include parágrafo();
        }
    
        button{
            @include botão-preenchido();
            span{
                @include ícone-botão();
                color: $cor-terceária;
            }
        }
    }
    #main-entrada-inicial-gif{
        order: 2;
        img{
            height: 320px;
        }
    }
}

/* --- Responsividade da entrada-inicial. */

@media only screen and (max-width: $responsividade-média){
    #main-entrada-inicial{
        grid-auto-flow: row;
        justify-content: center;
        text-align: center;

        #main-entrada-inicial-informações{
            justify-items: center;
        }
    }
}

/* --- Decoração-animada. */

#main-decoração-animada{
    img{
        @include decoração-animada();
    }
}

/* --- NewsLetter. */

#main-newsletter{
    @include grid-em-linha();
    grid-area: entrada-inicial;
    padding: 80px;

    #main-newsletter-informações{
        @include grid-em-linha();
        gap: 32px;
        grid-auto-flow: row;
        order: 2;
        width: 640px;

        h2{
            @include título();
        }

        p{
            @include parágrafo();
        }

        button{
            @include botão-preenchido();
            span{
                @include ícone-botão();
                color: $cor-terceária;
            }
        }
    }
    #main-newsletter-gif{
        order: 1;

        img{
            height: 320px;
        }
    }
}

/* --- Responsividade da newsletter. */

@media only screen and (max-width: $responsividade-média){
    #main-newsletter{
        grid-auto-flow: row;
        justify-content: center;
        text-align: center;

        #main-newsletter-informações{
            justify-items: center;
        }
    }
}