@charset "UTF-8";
/* --- Informações básicas: variáveis. */
/* ------ Cores. */
/* ------ Tipografia. */
/* ------ Resonsividade. */
/* ------ @mixins. */
/* --- Código básico. */
body {
  background-color: #D7CCC8;
}

/* --- Código básico. */
/* --- Cabeçalho. */
header {
  /* --- Cabeçalho padrão. */
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #171717;
  grid-area: cabeçalho;
  height: 82px;
  padding: 16px 32px;
  /* --- Logo. */
  /* --- Separação em duas sessões: a endereços e a pesquisa-perfil. */
}
header #header-logo h1 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
header #header-endereços-pesquisa-perfil {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* --- Endereços. */
  /* --- Pesquisa-perfil. */
}
header #header-endereços-pesquisa-perfil #header-endereços #header-endereços-organização-padrão {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
}
header #header-endereços-pesquisa-perfil #header-endereços #header-endereços-organização-padrão li a {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: initial;
}
header #header-endereços-pesquisa-perfil #header-endereços #header-endereços-organização-responsiva {
  display: none;
}
header #header-endereços-pesquisa-perfil #header-pesquisa-perfil {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  margin-left: 64px;
}
header #header-endereços-pesquisa-perfil #header-pesquisa-perfil input[type=text] {
  background: #FFFFFB;
  border: none;
  color: rgba(23, 23, 23, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: initial;
  outline: none;
  padding: 16px 64px 16px 16px;
}
header #header-endereços-pesquisa-perfil #header-pesquisa-perfil #header-área-de-busca {
  position: relative;
}
header #header-endereços-pesquisa-perfil #header-pesquisa-perfil #header-área-de-busca span {
  color: rgba(23, 23, 23, 0.5);
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}
header #header-endereços-pesquisa-perfil #header-pesquisa-perfil button {
  background: none;
  border: #171717 solid 1px;
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: initial;
  padding: 16px 40px 16px 16px;
  position: relative;
}
header #header-endereços-pesquisa-perfil #header-pesquisa-perfil button span {
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* --- Responsividade do cabeçalho. */
@media only screen and (max-width: 1160px) {
  header #header-endereços-pesquisa-perfil {
    display: block;
  }
  header #header-endereços-pesquisa-perfil #header-endereços #header-endereços-organização-padrão {
    display: none;
  }
  header #header-endereços-pesquisa-perfil #header-endereços #header-endereços-organização-responsiva {
    display: grid;
    gap: 16px;
    grid-auto-flow: column;
  }
  header #header-endereços-pesquisa-perfil #header-endereços #header-endereços-organização-responsiva li a span {
    color: #171717;
    font-size: 20px;
    font-weight: initial;
  }
  header #header-endereços-pesquisa-perfil #header-pesquisa-perfil {
    display: none;
  }
}
/* --- Cabeçalho. */
/* --- Corpo. */
main {
  display: grid;
  grid-template-areas: "botões-gerais" "entrada-inicial";
}

/* --- Botões gerais. */
#main-botões-gerais {
  align-items: center;
  display: flex;
  justify-content: space-between;
  grid-area: botões-gerais;
  justify-content: right;
  padding: 16px 32px;
}
#main-botões-gerais span {
  background-color: #FFFFFB;
  border-radius: 50%;
  color: #171717;
  cursor: pointer;
  font-size: 20px;
  font-weight: initial;
  padding: 8px;
  margin: 0px 16px 0px 16px;
}
#main-botões-gerais span:first-child {
  margin: 0px;
}
#main-botões-gerais #main-botões-interruptor {
  background-color: #FFFFFB;
  border-radius: 100px;
  padding: 8px;
}
#main-botões-gerais #main-botões-interruptor span {
  margin-left: 40px;
}
#main-botões-gerais #main-botões-interruptor span:first-child {
  margin-left: 0px;
  background-color: #D7CCC8;
}

/* --- Entrada inicial. */
#main-entrada-inicial-padrão {
  align-items: center;
  display: flex;
  justify-content: space-between;
  grid-area: entrada-inicial;
  padding: 80px 0px 80px 80px;
}
#main-entrada-inicial-padrão #main-entrada-inicial-informações {
  display: grid;
  gap: 32px;
  width: 640px;
}
#main-entrada-inicial-padrão #main-entrada-inicial-informações h2 {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: bold;
}
#main-entrada-inicial-padrão #main-entrada-inicial-informações p {
  color: #171717;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: initial;
}
#main-entrada-inicial-padrão #main-entrada-inicial-informações button {
  background-color: #171717;
  border: none;
  border-radius: 8px;
  color: #FFFFFB;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 40px 16px 16px;
  position: relative;
  width: 240px;
}
#main-entrada-inicial-padrão #main-entrada-inicial-gif img {
  height: 400px;
}

/* --- Responsividade da entrada-inicial. */
@media only screen and (max-width: 1160px) {
  #main-entrada-inicial-padrão {
    flex-direction: column;
    text-align: center;
  }
  #main-entrada-inicial-padrão #main-entrada-inicial-informações {
    justify-items: center;
    margin-bottom: 80px;
  }
}/*# sourceMappingURL=style.css.map */