@charset "UTF-8";
/* --- Informações básicas: variáveis. */
:root {
  /* ------ Cores. */
  --cor-primária: #D7CCC8;
  --cor-terceária: #FFFFFB;
  --cor-quaternária: #171717;
  --cor-quaternária-opaca: #17171780;
  /* ------ Tipografia. */
  --tipografia-logo-família: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --tipografia-logo-tamanho: 24px;
  --tipografia-logo-peso: bold;
  --tipografia-endereços-família: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --tipografia-endereços-tamanho: 12px;
  --tipografia-endereços-peso: initial;
  --tipografia-placeholder-família: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --tipografia-placeholder-tamanho: 12px;
  --tipografia-placeholder-peso: initial;
  --tipografia-botão-cabeçalho-família: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --tipografia-botão-cabeçalho-tamanho: 12px;
  --tipografia-botão-cabeçalho-peso: initial;
  --tipografia-título-família: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --tipografia-título-tamanho: 48px;
  --tipografia-título-peso: bold;
  --tipografia-parágrafo-família: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --tipografia-parágrafo-tamanho: 32px;
  --tipografia-parágrafo-peso: initial;
  --tipografia-descrição-título-família: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --tipografia-descrição-título-tamanho: 24px;
  --tipografia-descrição-título-peso: bold;
  --tipografia-descrição-parágrafo-família: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --tipografia-descrição-parágrafo-tamanho: 16px;
  --tipografia-descrição-parágrafo-peso: initial;
  --tipografia-botão-corpo-família: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --tipografia-botão-corpo-tamanho: 16px;
  --tipografia-botão-corpo-peso: bold;
  --tipografia-ícone-tamanho: 20px;
  --tipografia-ícone-peso: initial;
}

/* ------ Resonsividade. */
/* ------ @mixins de funcionais. */
/* ------ @mixins tipográficos. */
/* ------ @mixins do cabeçalho. */
/* ------ @mixins do corpo. */
/* ------ @mixins do rodapé. */
/* --- Código básico. */
body {
  background-color: var(--cor-primária);
}

/* --- Cabeçalho. */
header {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  border-bottom: solid 1px var(--cor-quaternária);
  height: 96px;
  padding: 16px 32px;
}
header #header-logo h1 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-logo-família);
  font-size: var(--tipografia-logo-tamanho);
  font-weight: var(--tipografia-logo-peso);
}
header #header-endereços-pesquisa-perfil {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
header #header-endereços-pesquisa-perfil #header-endereços-organização-padrão {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
header #header-endereços-pesquisa-perfil #header-endereços-organização-padrão a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-endereços-família);
  font-size: var(--tipografia-endereços-tamanho);
  font-weight: var(--tipografia-endereços-peso);
}
header #header-endereços-pesquisa-perfil #header-endereços-organização-responsiva {
  display: none;
}
header #header-endereços-pesquisa-perfil #header-área-de-busca {
  position: relative;
}
header #header-endereços-pesquisa-perfil #header-área-de-busca input[type=text] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--cor-terceária);
  border: none;
  color: var(--cor-quaternária-opaca);
  font-family: var(--tipografia-placeholder-família);
  font-size: var(--tipografia-placeholder-tamanho);
  font-style: italic;
  font-weight: var(--tipografia-placeholder-peso);
  height: 48px;
  outline: none;
  padding: 0px 16px;
  width: 216px;
}
header #header-endereços-pesquisa-perfil #header-área-de-busca span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  color: var(--cor-quaternária-opaca);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}
header #header-endereços-pesquisa-perfil button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  border: solid 1px var(--cor-quaternária);
  -moz-column-gap: 0px;
       column-gap: 0px;
  cursor: pointer;
  height: 48px;
  padding: 0px 16px;
  width: 160px;
}
header #header-endereços-pesquisa-perfil button a {
  color: var(--cor-quaternária);
  font-family: var(--tipografia-botão-cabeçalho-família);
  font-size: var(--tipografia-botão-cabeçalho-tamanho);
  font-weight: var(--tipografia-botão-cabeçalho-peso);
}
header #header-endereços-pesquisa-perfil button span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
}

@media only screen and (max-width: 1260px) {
  header #header-endereços-pesquisa-perfil {
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
  header #header-endereços-pesquisa-perfil #header-endereços-organização-padrão {
    display: none;
  }
  header #header-endereços-pesquisa-perfil #header-endereços-organização-responsiva {
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
  header #header-endereços-pesquisa-perfil #header-endereços-organização-responsiva span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--cor-quaternária);
    cursor: pointer;
    font-size: var(--tipografia-ícone-tamanho);
    font-weight: var(--tipografia-ícone-peso);
  }
  header #header-endereços-pesquisa-perfil #header-área-de-busca {
    display: none;
  }
  header #header-endereços-pesquisa-perfil button {
    display: none;
  }
}
/* --- Botões gerais. */
#main-botões-gerais {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-content: end;
  padding: 16px 32px;
  position: relative;
}
#main-botões-gerais span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  background-color: var(--cor-terceária);
  border-radius: 50%;
  padding: 8px;
}
#main-botões-gerais #main-botões-interruptor {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background-color: var(--cor-terceária);
  border-radius: 100px;
  padding: 8px;
}
#main-botões-gerais #main-botões-interruptor span:last-child {
  background-color: var(--cor-primária);
}
#main-botões-gerais #ruído-entrada-inicial {
  background-image: url("../Material-Gráfico/Gifs-de-Fundo/Ruído.gif");
  left: 0px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

/* --- Entrada inicial. */
#main-entrada-inicial {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  border-bottom: solid 1px var(--cor-quaternária);
  padding: 80px;
  text-align: start;
}
#main-entrada-inicial #main-entrada-inicial-informações {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 32px;
  grid-auto-flow: row;
  justify-items: start;
  order: 1;
  width: 640px;
}
#main-entrada-inicial #main-entrada-inicial-informações h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-título-família);
  font-size: var(--tipografia-título-tamanho);
  font-weight: var(--tipografia-título-peso);
}
#main-entrada-inicial #main-entrada-inicial-informações p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-parágrafo-família);
  font-size: var(--tipografia-parágrafo-tamanho);
  font-weight: var(--tipografia-parágrafo-peso);
}
#main-entrada-inicial #main-entrada-inicial-informações button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--cor-quaternária);
  border: none;
  border-radius: 8px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  cursor: pointer;
  height: 48px;
  padding: 0px 16px;
}
#main-entrada-inicial #main-entrada-inicial-informações button a {
  color: var(--cor-terceária);
  font-family: var(--tipografia-botão-corpo-família);
  font-size: var(--tipografia-botão-corpo-tamanho);
  font-weight: var(--tipografia-botão-corpo-peso);
}
#main-entrada-inicial #main-entrada-inicial-informações button span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  margin-left: 16px;
  color: var(--cor-terceária);
}
#main-entrada-inicial #main-entrada-inicial-gif {
  order: 2;
}
#main-entrada-inicial #main-entrada-inicial-gif img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 320px;
}

/* --- Responsividade da entrada-inicial. */
@media only screen and (max-width: 1260px) {
  #main-entrada-inicial {
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
  }
  #main-entrada-inicial #main-entrada-inicial-informações button {
    justify-self: center;
  }
}
/* --- Decoração-animada. */
.main-decoração-animada {
  height: 320px;
}
.main-decoração-animada img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 320px;
  -o-object-fit: none;
     object-fit: none;
  width: 100%;
  border-bottom: solid 1px var(--cor-quaternária);
}

/* --- NewsLetter. */
#main-newsletter {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  border-bottom: solid 1px var(--cor-quaternária);
  padding: 80px;
  position: relative;
  text-align: end;
}
#main-newsletter #main-newsletter-informações {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 32px;
  grid-auto-flow: row;
  justify-items: end;
  order: 2;
  width: 640px;
}
#main-newsletter #main-newsletter-informações h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-título-família);
  font-size: var(--tipografia-título-tamanho);
  font-weight: var(--tipografia-título-peso);
}
#main-newsletter #main-newsletter-informações p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-parágrafo-família);
  font-size: var(--tipografia-parágrafo-tamanho);
  font-weight: var(--tipografia-parágrafo-peso);
}
#main-newsletter #main-newsletter-informações button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--cor-quaternária);
  border: none;
  border-radius: 8px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  cursor: pointer;
  height: 48px;
  padding: 0px 16px;
}
#main-newsletter #main-newsletter-informações button a {
  color: var(--cor-terceária);
  font-family: var(--tipografia-botão-corpo-família);
  font-size: var(--tipografia-botão-corpo-tamanho);
  font-weight: var(--tipografia-botão-corpo-peso);
}
#main-newsletter #main-newsletter-informações button span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  margin-left: 16px;
  color: var(--cor-terceária);
}
#main-newsletter #main-newsletter-gif {
  order: 1;
}
#main-newsletter #main-newsletter-gif img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 320px;
}
#main-newsletter #ruído-newsletter {
  background-image: url("../Material-Gráfico/Gifs-de-Fundo/Ruído.gif");
  left: 0px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  height: 529px;
}

/* --- Responsividade da newsletter. */
@media only screen and (max-width: 1260px) {
  #main-newsletter {
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
  }
  #main-newsletter #main-newsletter-informações button {
    justify-self: center;
  }
}
/* --- Carrossel de livros. */
#main-carrossel-de-livros {
  border-bottom: solid 1px var(--cor-quaternária);
  padding: 80px 80px 0px 80px;
}
#main-carrossel-de-livros h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-título-família);
  font-size: var(--tipografia-título-tamanho);
  font-weight: var(--tipografia-título-peso);
  margin-bottom: 80px;
  text-align: center;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros {
  -moz-column-gap: 256px;
       column-gap: 256px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  justify-content: center;
  row-gap: 80px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-auto-flow: row;
  justify-items: center;
  row-gap: 16px;
  text-align: center;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 160px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro h3 {
  color: var(--cor-quaternária);
  font-family: var(--tipografia-descrição-título-família);
  font-size: var(--tipografia-descrição-título-tamanho);
  font-weight: var(--tipografia-descrição-título-peso);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro p {
  color: var(--cor-quaternária-opaca);
  font-family: var(--tipografia-descrição-parágrafo-família);
  font-size: var(--tipografia-descrição-parágrafo-tamanho);
  font-weight: var(--tipografia-descrição-parágrafo-peso);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--cor-quaternária);
  border: none;
  border-radius: 8px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  cursor: pointer;
  height: 48px;
  padding: 0px 16px;
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro button a {
  color: var(--cor-terceária);
  font-family: var(--tipografia-botão-corpo-família);
  font-size: var(--tipografia-botão-corpo-tamanho);
  font-weight: var(--tipografia-botão-corpo-peso);
}
#main-carrossel-de-livros #main-carrossel-área-dos-livros .main-carrossel-livro button span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  margin-left: 16px;
  color: var(--cor-terceária);
}
#main-carrossel-de-livros .main-carrossel-botões {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-content: center;
  padding: 80px;
}
#main-carrossel-de-livros .main-carrossel-botões span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  background-color: var(--cor-quaternária);
  border-radius: 50%;
  color: var(--cor-terceária);
  padding: 8px;
}
#main-carrossel-de-livros .main-carrossel-botões button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--cor-quaternária);
  border: none;
  border-radius: 8px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  cursor: pointer;
  height: 48px;
  padding: 0px 16px;
}
#main-carrossel-de-livros .main-carrossel-botões button a {
  color: var(--cor-terceária);
  font-family: var(--tipografia-botão-corpo-família);
  font-size: var(--tipografia-botão-corpo-tamanho);
  font-weight: var(--tipografia-botão-corpo-peso);
}
#main-carrossel-de-livros .main-carrossel-botões button span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  margin-left: 16px;
  color: var(--cor-terceária);
}

/* --- Promoção. */
#main-promoção {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  border-bottom: solid 1px var(--cor-quaternária);
  padding: 80px;
  position: relative;
  text-align: start;
}
#main-promoção #main-promoção-informações {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 32px;
  grid-auto-flow: row;
  justify-items: start;
  order: 1;
  width: 640px;
}
#main-promoção #main-promoção-informações h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-título-família);
  font-size: var(--tipografia-título-tamanho);
  font-weight: var(--tipografia-título-peso);
}
#main-promoção #main-promoção-informações p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-parágrafo-família);
  font-size: var(--tipografia-parágrafo-tamanho);
  font-weight: var(--tipografia-parágrafo-peso);
}
#main-promoção #main-promoção-informações button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--cor-quaternária);
  border: none;
  border-radius: 8px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  cursor: pointer;
  height: 48px;
  padding: 0px 16px;
}
#main-promoção #main-promoção-informações button a {
  color: var(--cor-terceária);
  font-family: var(--tipografia-botão-corpo-família);
  font-size: var(--tipografia-botão-corpo-tamanho);
  font-weight: var(--tipografia-botão-corpo-peso);
}
#main-promoção #main-promoção-informações button span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  margin-left: 16px;
  color: var(--cor-terceária);
}
#main-promoção #main-promoção-gif {
  order: 2;
}
#main-promoção #main-promoção-gif img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 320px;
}
#main-promoção #ruído-promoção {
  background-image: url("../Material-Gráfico/Gifs-de-Fundo/Ruído.gif");
  left: 0px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  height: 561px;
}

/* --- Responsividade da promoção. */
@media only screen and (max-width: 1260px) {
  #main-promoção {
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
  }
  #main-promoção #main-promoção-informações button {
    justify-self: center;
  }
}
/* --- Carrossel de artigos. */
#main-carrossel-de-artigos {
  border-bottom: solid 1px var(--cor-quaternária);
  padding: 80px 80px 0px 80px;
}
#main-carrossel-de-artigos h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-título-família);
  font-size: var(--tipografia-título-tamanho);
  font-weight: var(--tipografia-título-peso);
  margin-bottom: 80px;
  text-align: center;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos {
  -moz-column-gap: 256px;
       column-gap: 256px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  justify-content: center;
  row-gap: 80px;
  -moz-column-gap: 144px;
       column-gap: 144px;
  grid-template-columns: repeat(auto-fill, 480px);
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-auto-flow: row;
  justify-items: center;
  row-gap: 16px;
  text-align: center;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 480px;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo h3 {
  color: var(--cor-quaternária);
  font-family: var(--tipografia-descrição-título-família);
  font-size: var(--tipografia-descrição-título-tamanho);
  font-weight: var(--tipografia-descrição-título-peso);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 480px;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo p {
  color: var(--cor-quaternária-opaca);
  font-family: var(--tipografia-descrição-parágrafo-família);
  font-size: var(--tipografia-descrição-parágrafo-tamanho);
  font-weight: var(--tipografia-descrição-parágrafo-peso);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 480px;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--cor-quaternária);
  border: none;
  border-radius: 8px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  cursor: pointer;
  height: 48px;
  padding: 0px 16px;
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo button a {
  color: var(--cor-terceária);
  font-family: var(--tipografia-botão-corpo-família);
  font-size: var(--tipografia-botão-corpo-tamanho);
  font-weight: var(--tipografia-botão-corpo-peso);
}
#main-carrossel-de-artigos #main-carrossel-área-dos-artigos .main-carrossel-artigo button span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  margin-left: 16px;
  color: var(--cor-terceária);
}
#main-carrossel-de-artigos .main-carrossel-botões {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-content: center;
  padding: 80px;
}
#main-carrossel-de-artigos .main-carrossel-botões span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  background-color: var(--cor-quaternária);
  border-radius: 50%;
  color: var(--cor-terceária);
  padding: 8px;
}
#main-carrossel-de-artigos .main-carrossel-botões button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--cor-quaternária);
  border: none;
  border-radius: 8px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  cursor: pointer;
  height: 48px;
  padding: 0px 16px;
}
#main-carrossel-de-artigos .main-carrossel-botões button a {
  color: var(--cor-terceária);
  font-family: var(--tipografia-botão-corpo-família);
  font-size: var(--tipografia-botão-corpo-tamanho);
  font-weight: var(--tipografia-botão-corpo-peso);
}
#main-carrossel-de-artigos .main-carrossel-botões button span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  margin-left: 16px;
  color: var(--cor-terceária);
}

/* --- Rodapé. */
footer {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-auto-flow: row;
  justify-content: center;
  padding: 80px 0px;
  position: relative;
  row-gap: 80px;
}
footer #footer-inscrição-da-newsletter {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
footer #footer-inscrição-da-newsletter h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-título-família);
  font-size: var(--tipografia-título-tamanho);
  font-weight: var(--tipografia-título-peso);
}
footer #footer-inscrição-da-newsletter #footer-email-botão {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
footer #footer-inscrição-da-newsletter #footer-email-botão #footer-área-do-email {
  position: relative;
}
footer #footer-inscrição-da-newsletter #footer-email-botão #footer-área-do-email input[type=text] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  border: solid 1px var(--cor-quaternária);
  border-radius: 8px;
  color: var(--cor-quaternária-opaca);
  font-family: var(--tipografia-placeholder-família);
  font-size: var(--tipografia-placeholder-tamanho);
  font-weight: var(--tipografia-placeholder-peso);
  height: 48px;
  outline: none;
  padding: 0px 16px;
  width: 216px;
}
footer #footer-inscrição-da-newsletter #footer-email-botão #footer-área-do-email span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  color: var(--cor-quaternária-opaca);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}
footer #footer-inscrição-da-newsletter #footer-email-botão button {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--cor-quaternária);
  border: none;
  border-radius: 8px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  cursor: pointer;
  height: 48px;
  padding: 0px 16px;
}
footer #footer-inscrição-da-newsletter #footer-email-botão button a {
  color: var(--cor-terceária);
  font-family: var(--tipografia-botão-corpo-família);
  font-size: var(--tipografia-botão-corpo-tamanho);
  font-weight: var(--tipografia-botão-corpo-peso);
}
footer #footer-inscrição-da-newsletter #footer-email-botão button span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  margin-left: 16px;
  color: var(--cor-terceária);
}
footer #footer-serviços-contatos {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
footer #footer-serviços-contatos #footer-informações {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
footer #footer-serviços-contatos #footer-informações #footer-serviços {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-auto-flow: row;
  row-gap: 32px;
}
footer #footer-serviços-contatos #footer-informações #footer-serviços h3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-descrição-título-família);
  font-size: var(--tipografia-descrição-título-tamanho);
  font-weight: var(--tipografia-descrição-título-peso);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
footer #footer-serviços-contatos #footer-informações #footer-serviços li {
  margin-bottom: 8px;
}
footer #footer-serviços-contatos #footer-informações #footer-serviços li a {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-endereços-família);
  font-size: var(--tipografia-endereços-tamanho);
  font-weight: var(--tipografia-endereços-peso);
  justify-content: start;
}
footer #footer-serviços-contatos #footer-informações #footer-serviços li a span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
}
footer #footer-serviços-contatos #footer-informações #footer-serviços li:last-child {
  margin-bottom: 0px;
}
footer #footer-serviços-contatos #footer-informações #footer-contatos {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-auto-flow: row;
  row-gap: 32px;
}
footer #footer-serviços-contatos #footer-informações #footer-contatos h3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-descrição-título-família);
  font-size: var(--tipografia-descrição-título-tamanho);
  font-weight: var(--tipografia-descrição-título-peso);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
footer #footer-serviços-contatos #footer-informações #footer-contatos li {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  font-family: var(--tipografia-endereços-família);
  font-size: var(--tipografia-endereços-tamanho);
  font-weight: var(--tipografia-endereços-peso);
  justify-content: start;
  margin-bottom: 8px;
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
footer #footer-serviços-contatos #footer-informações #footer-contatos li span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  cursor: initial;
}
footer #footer-serviços-contatos #footer-informações #footer-contatos li:last-child {
  margin-bottom: 0px;
}
footer #footer-serviços-contatos img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 320px;
}
footer #footer-direitos-autorais p {
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária-opaca);
  font-family: var(--tipografia-descrição-parágrafo-família);
  font-size: var(--tipografia-descrição-parágrafo-tamanho);
  font-weight: var(--tipografia-descrição-parágrafo-peso);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--cor-quaternária);
  justify-content: center;
}
footer #footer-direitos-autorais p span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--cor-quaternária);
  cursor: pointer;
  font-size: var(--tipografia-ícone-tamanho);
  font-weight: var(--tipografia-ícone-peso);
  color: var(--cor-quaternária);
}
footer #papel {
  background-image: url("../Material-Gráfico/Gifs-de-Fundo/Papel.gif");
  left: 0px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

/* --- Responsividade do rodapé. */
@media only screen and (max-width: 1260px) {
  footer #footer-inscrição-da-newsletter {
    grid-auto-flow: row;
    justify-content: center;
    row-gap: 32px;
  }
  footer #footer-inscrição-da-newsletter h2 {
    text-align: center;
  }
  footer #footer-inscrição-da-newsletter #footer-email-botão #footer-área-do-email input[type=text] {
    width: 560px;
  }
  footer #footer-serviços-contatos {
    grid-auto-flow: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 800px) {
  footer #footer-inscrição-da-newsletter {
    grid-auto-flow: row;
    justify-content: center;
    row-gap: 32px;
  }
  footer #footer-inscrição-da-newsletter #footer-email-botão {
    grid-auto-flow: row;
    justify-content: center;
    row-gap: 16px;
  }
  footer #footer-inscrição-da-newsletter #footer-email-botão #footer-área-do-email input[type=text] {
    width: 250px;
  }
  footer #footer-serviços-contatos {
    grid-auto-flow: row;
    justify-items: center;
  }
  footer #footer-serviços-contatos #footer-informações {
    grid-auto-flow: row;
    row-gap: 32px;
  }
  footer #footer-serviços-contatos #footer-informações #footer-serviços {
    justify-content: center;
  }
  footer #footer-serviços-contatos #footer-informações #footer-contatos {
    justify-items: center;
  }
  footer #footer-serviços-contatos #footer-informações #footer-contatos li {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */