/* --- Informações básicas: variáveis. */

/* ------ Cores. */

$cor-primária: #D7CCC8;
$cor-secundária: #A69B97;
$cor-terceária: #FFFFFB;
$cor-quaternária: #171717;
$cor-quaternária-opaca: rgba(23, 23, 23, 0.5);

/* ------ Tipografia. */

$tipografia-logo-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-logo-tamanho: 24px;
$tipografia-logo-peso: bold;

$tipografia-endereços-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-endereços-tamanho: 12px;
$tipografia-endereços-peso: initial;


$tipografia-placeholder-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-placeholder-tamanho: 12px;
$tipografia-placeholder-peso: initial;

$tipografia-botão-família: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-botão-tamanho: 12px;
$tipografia-botão-peso: initial;

$tipografia-ícone-tamanho: 20px;
$tipografia-ícone-peso: initial;

/* ------ Resonsividade. */

$responsividade-média: 1000px;

/* ------ @mixins. */

@mixin flex-em-linha{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* --- Código básico. */

body{
    background-color: $cor-primária;
}

/* --- Cabeçalho. */

header{

    /* --- Cabeçalho padrão. */

    @include flex-em-linha();
    border-bottom: solid 1px $cor-quaternária;
    height: 100px;
    padding: 16px 32px;

    /* --- Logo. */

    #header-logo{
        h1{
            color: $cor-quaternária;
            font-family: $tipografia-logo-família;
            font-size: $tipografia-logo-tamanho;
            font-weight: $tipografia-logo-peso;
        }
    }

    /* --- Separação em duas sessões: a endereços e a pesquisa-perfil. */

    #header-endereços-pesquisa-perfil{
        @include flex-em-linha();

        /* --- Endereços. */

        #header-endereços{
            #header-endereços-organização-padrão{
                @include flex-em-linha();

                li{
                    margin-left: 16px;

                    a{
                        color: $cor-quaternária;
                        font-family: $tipografia-endereços-família;
                        font-size: $tipografia-endereços-tamanho;
                        font-weight: $tipografia-endereços-peso;
                    }
                }

                li:first-child{
                    margin-left: 0px;
                }
            }

            #header-endereços-organização-responsiva{
                display: none
            }
        }

        /* --- Pesquisa-perfil. */

        #header-pesquisa-perfil{
            @include flex-em-linha();
            margin-left: 64px;

            input[type="text"]{
                background: $cor-terceária;
                border: none;
                color: $cor-quaternária-opaca;
                font-family: $tipografia-placeholder-família;
                font-size: $tipografia-placeholder-tamanho;
                font-style: italic;
                font-weight: $tipografia-placeholder-peso;
                outline: none;
                padding: 16px 64px 16px 16px;
            }

            #header-área-de-busca{
                position: relative;

                span{
                    color: $cor-quaternária-opaca;
                    font-size: $tipografia-ícone-tamanho;
                    font-weight: $tipografia-ícone-peso;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            button{
                background: none;
                border: #171717 solid 1px;
                color: $cor-quaternária;
                font-family: $tipografia-botão-família;
                font-size: $tipografia-botão-tamanho;
                font-weight: $tipografia-botão-peso;
                margin-left: 16px;
                padding: 16px 40px 16px 16px;
                position: relative;

                span{
                    color: $cor-quaternária;
                    font-size: $tipografia-ícone-tamanho;
                    font-weight: $tipografia-ícone-peso;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

/* --- Responsividade do cabeçalho. */

@media only screen and (max-width: $responsividade-média){
    header{
        #header-endereços-pesquisa-perfil{
            display: block;

            #header-endereços{
                #header-endereços-organização-padrão{
                    display: none;
                }

                #header-endereços-organização-responsiva{
                    display: flex;

                    li{
                        margin-left: 16px;

                        a{
                            span{
                                color: $cor-quaternária;
                                font-size: $tipografia-ícone-tamanho;
                                font-weight: $tipografia-ícone-peso;
                            }
                        }
                    }

                    li:first-child{
                        margin-left: 0px;
                    }
                }
            }

            #header-pesquisa-perfil{
                display: none;
            }
        }
    }
}